@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none;}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    /* 애니메이션 실행명령 */
    animation-name: test_ani;
    /* 애니메이션 실행시간 */
    animation-duration: 2s;
    /* 애니메이션 반복실행 */
    animation-iteration-count: 10;
}

/* 애니메이션 설정 */
@keyframes test_ani {
    from{background-color: red;}
    to{background-color: blue;}
}