@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none; background: none;}
.box {
    width: 1000px;
    height: 1003px;
    /* background-color: gold; */
    /* 부모가 position이면 자동으로 부모 기준으로 자식들이 설정됨 */
    position: absolute;
    left: 50%;
    top: 50%;
    /* margin: -501.5px 0 0 -500px; */
    /* x축가운데 y축가운데 */
    transform: translate(-50%, -50%);
}
.box .left{
    position:absolute;
    left: 50%;
    margin-left: -73px;
    top: 50%;
    margin-top: -501.5px;
    /* transform: translate(-50%, -50%); */
    animation: left_ani 2s ease-in-out forwards;
}

@keyframes left_ani{
    from{left: 50%;}
    to{left: 20%;}
}

.box .right{
    position: absolute;
    right: 50%;
    margin-right: -73px;
    top: 50%;
    margin-top: -501.5px;
    animation: right_ani 2s ease-in-out forwards;
}

@keyframes right_ani{
    0%{right: 50%;}
    100%{right: 20%;}
}

.box .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation: title_ani ;
}

.box .title h2{
    font-size: 32px;
    color: #333;
    font-weight: 900;
    line-height: 45px;
    /* 숨김 */
    opacity: 0;
    animation: h2_ani 1s ease-in-out forwards 2s;
}

@keyframes h2_ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.box .title p{
    font-size: 17px;
    color: #888;
    font-weight: 700;
    line-height: 22px;
    margin: 24px 0;
    opacity: 0;
    animation: p_ani 1s ease-in-out forwards 2.5s;
}

@keyframes p_ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.box .title button{
    cursor: pointer;
    opacity: 0;
    animation: btn_ani 1s ease-in-out forwards 3s;
}

@keyframes btn_ani{
    from{opacity: 0;}
    to{opacity: 1;}
}