@charset "utf-8";
body{
    font-family: "맑은 고딕";
}
*{margin: 0;padding: 0;}
/* 회전명령 */
.box1{
    width: 450px;
    height: 70px;
    background: #0cf;
    border: 1px solid #000;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    /* 회전 */
    transform: rotate(-45deg);
    margin: 50px 0 0 -100px;
    /* transform: rotate(90deg); */
}
.box2{
    width: 200px;
    height: 200px;
    border: solid 1px #000;
    background: #cf0;
    margin: 400px 0 0 60px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    /* 기울이기 (좌/우) */
    transform: skewX(-15deg);
    /* transform: skewY(-15deg); */
    /* transform: skew(-15deg, -15deg); */
}

.box3{
    width: 200px;
    height: 200px;
    border: solid 1px #000;
    background: #fc0;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 200px;

    /* 이동 */
    /* transform: translateX(100px);
    transform: translateY(-100px);
    transform: translate(100px, 100px); */

    /* 요소 사이즈를 몰라도 가로가운데, 세로가운데 정렬 */
    transform: translate(-50%,-50%);
}

.box4{
    width: 100px;
    height: 100px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
    font-weight: 900;
    position: absolute;
    left: 350px;
    top: 250px;
    /* a태그 사용하지 않고 손모양 만들어주는 명령 */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.box4:hover{
    /* 크기조정 */
    transform: scale(2) rotate(360deg);
    transform: scale(1.1);
    
}