@charset "utf-8"
body{
    
}
*{margin: 0; padding: 0;}
li{list-style: none;}
.pa{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
.pa div{
    width: 235px;
    height: 300px;
    background-color: blue;
    float: left;
    margin-right: 20px;
}
.pa .last{
    margin-right: 0;
}
ul{
    width: 1000px;
    height: 300px;
    margin: 20px auto 0;
}
ul li{
    width: 235px;
    height: 300px;
    background-color: blue;
    float: left;
    margin-right: 20px;
}
ul .last{margin-right: 0;}