@charset "UTF-8";
body{
    
}
*{margin: 0; padding: 0;}
.wrap{
    width: 1000px;
    background-color: pink;
    margin: 0 auto;
}
.wrap .header{
    width: 1000px;
    height: 50px;
    background-color: lightblue;
}
.wrap .box{
    width: 1000px;
    height: 300px;
    background-color: gold;
}
.wrap .box div{
    width: 333.33px;
    height: 300px;
    background-color: green;
    float: left;
}
.wrap .box .child2{
    background-color: #00d8ff;
}
.wrap .box .child3{
    background-color: #fb0;
}
.wrap .content{
    width: 1000px;
    height: 300px;
    background-color: #ff0;
}
.wrap .footer{
    width: 1000px;
    height: 50px;
    background-color: #eee;
}