@charset "uft-8";
body{
    
}
*{margin: 0; padding: 0;}
li{list-style: none;}
.pa{
    width: 1680px;
    height: 380px;
    margin:  auto;
    background-color: #f2f1f0;
}
.pa div{
    width: 350px;
    height: 380px;
    margin-right: 40px;
    float: left;
    border-radius: 16px;
}
.on {background-color: #2e2e7c;}
.off {background-color: #fff;}
ul{
    width: 1680px;
    height: 380px;
    margin: 20px auto 0;
    background-color: #f2f1f0;
}
ul li{
    float: left;
    width: 350px;
    height: 380px;
    background-color: #fff;
    margin-right: 40px;
    border-radius: 16px
}
ul .colored{background-color: #2e2e7c;}