@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none;background: none;}
.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px #e1e1e1 solid;
}
.header .inner{
    width: 1360px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner h1 a{
    display: block;
    width: 278px;
    height: 20px;
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -99999px;
}
.gnb{
    width: 1360px;
    height: 60px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}
.gnb>li>a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 60px;
    display: block;
    line-height: 60px;
}
.gnb>li:hover>a{
    color: #d1ac7f;
}

/* 2단메뉴 */
.gnb>li>.depth2{
    width: 1360px;
    height: 43px;
    background: gold;
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    gap: 63px;
    display: none;
}
.gnb>li:hover>.depth2{
    display: flex;
}
.gnb>li>.depth2 li a{
    color: #838383;
    font-size: 15px;
}
.gnb>li>.depth2 li:hover a{
    color: #333;
}

/* swiper 슬라이드 */
.swiper{
    width: 1360px;
    height: 610px;
    position: relative;
}
.swiper-slide img {
    display: block;
    width: 100%;
}


.swiper .swiper-pagination {
    width: 163px;
    height: 52px;
    position: absolute;
    left: unset;
    right: 20px;
    bottom: 10px;
    z-index: 10;
}



/* 슬라이드 활성화 */
.swiper-pagination-bullet-active{
    background: #5e5e5e;
}
