@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;}
button{background: none;border: none;}
a{text-decoration: none;}
li{list-style: none;}

.header{
    width: 1100px;
    height: 66px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.header h1 a{
    display: block;
    width: 113px;
    height: 37px;
    background: url(../images/header_logo.jpg) no-repeat;
    /* 브라우저 바깥으로 들여쓰기 */
    text-indent: -99999px;
}

/* 주메뉴 */
.header ul.gnb {
    display: flex;
    gap: 66px;
}

.header ul.gnb>li{
    position: relative;
    /* background-color: pink; */
    padding: 20px 0;
}

.header ul.gnb>li>a {
    font-size: 17px;
    color: #6e6e6e;
    font-weight: 700;
}

.header ul.gnb>li:hover>a{
    color: #3381c0;
    border-bottom: 2px solid #3381c0 ;
}

/* 헤더 안쪽 경계선 */
.header ul.gnb>li::before{
    content: '';
    width: 1px;
    height: 27px;
    background: #c8c8c8;
    /* 반드시 공중에 띄워 배치할 것 */
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
}

.header button{
    width: 35px;
    height: 21px;
    border: 1px solid #dedede;
    font-size: 11px;
    color: #9b9b9b;
    cursor: pointer;
}

.header ul.gnb>li:first-child::before{
    display: none;
}

/* 메인이미지 */
.visual{
    width: 100%;
    height: 960px;
    background: url(../images/visual.jpg) no-repeat center top;
}

/* 2차 메뉴 디자인 */
.header .gnb>li>.depth2{
    width: 166px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
    border: 1px solid #c8c8c8;
    border-top: none;
    text-align: center;
    display: none;
    z-index: 5;
}
.header .gnb>li>.depth2 li a{
    font-size: 14px;
    color: #555;
    padding: 10px;
}
.header .gnb>li>.depth2 li{
    line-height: 35px;
    /* background-color: gold; */
}

.header .gnb>li>.depth2 li:hover{
    background: #3381c0;
}
.header .gnb>li>.depth2 li:hover a{
    color: #fff;
    background: url(../images/icon_arrow2.png) no-repeat left;
}

/* 1차 메뉴 li에 hover하면 2차 메뉴가 보이게 */
.header .gnb>li:hover>.depth2{
    display: block;
}