@charset "utf-8";
body{
    font-family: "맑은 고딕", "malgun gothic", "sans-serif";
}
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{border: none;}
.header{
    width: 100%;
    height: 70px;
    border-bottom: #d0d0d0 solid 1px;
}
.header .inner{
    width: 1200px;
    height: 100%;
    background-color: gold;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visual{
    width: 100%;
    height: 920px;
    background: url(../images/main.jpg) no-repeat center top;
}
.header .inner h1 a{
    /* 배경이미지 삽입할 때는 반드시 크기 설정하기 */
    display: block;
    width: 98px;
    height: 28px;
    background: url(../images/Logo.png) no-repeat;
    /* 들여쓰기 : 시각 장애자를 위한 문구를 화면 바깥으로 날리는거 최대 5자리까지 작성*/
    text-indent: -99999px;
}
.header .inner .icon{
    display: flex;
    gap: 22px;
}
.header .inner .icon .search a{
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/search.png) no-repeat;
    text-indent: -99999px;
}
.header .inner .icon .eng a{
    display: block;
    width: 27px;
    height: 10px;
    background: url(../images/eng.png) no-repeat;
    text-indent: -99999px;
}
.header .inner .icon .menu a{
    display: block;
    width: 14px;
    height: 12px;
    background: url(../images/hamburger.png) no-repeat;
    text-indent: -99999px;
}