@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic","sans-serif";
}
/* 여백초기화 */
*{margin: 0; padding: 0;}
/* 기본값 초기화 */
a{text-decoration: none;}
li{list-style: none;}
button{
    border: none;
background: none;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.header h1 a{
    color: #470f0f;
    font-weight: 900;
}
.visual{
    width: 100%;
}
.visual img{
    width: 100%;
    height: 100%;
}

